/* header start */
.App-header {
  background-color: #ffffff;
  position:fixed;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgb(234, 237, 234);
}

.App-header-menu-icon {
  margin-top: 10px;
  margin-left: 30px;
}


.App-header-nav{
  vertical-align: middle;
  overflow: hidden;
}

.App-header-nav ul{
  list-style: none;
  overflow: hidden;
}

.App-header-nav li{
  float: left;
  margin-left: 250px;
  overflow: hidden;
}

.App-header-profile-icons{
  margin-top: 10px;
  margin-left: 130px;
}

/* header end */

/* footer start */
footer {
  width: 100%;  
  height: 25px;
  background-color: #f6f9f6;
  position:  flex;;
  border-top: 1px solid rgb(220, 223, 220);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

/* footer end */

/* home start */

.home {
  background-color: #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/* home end */

/*Admin start*/
.info {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.info_update {
  background-color:  #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/* write start */
.writeform {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.Write {
  padding: 20px;
  padding-left: 30px;
  width: 50%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  overflow: scroll;
}

.Write div {
  margin-top: 30px;
  margin-left: 50px;
  overflow: scroll;
}

.company_basic_list {
  background-color:   #f6f9f6;
  position: fixed;
  height: 650px;
  width: 100%;
  overflow: scroll;
}

.user_list {
  background-color:  #f6f9f6;
  position: fixed;
  height: 650px;
  width: 100%;
  overflow: scroll;
}

.admin_appbar {
  background-color: #ffffff;
}
/*Admin end*/

#name {
  width: 100%;
  padding-bottom: 6px;
  border: none;
  font-size: 22px;
  border: solid 1px #ababab;
}
#url{
  width: 50%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border: solid 1px #ababab;
}
#impo{
  width: 50%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border: solid 1px #ababab;
}
#summary{
  width: 50%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border: solid 1px #ababab;
}
#ceo {
  width: 50%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border: solid 1px #ababab;
}
#content{
  width: 50%;
  padding-bottom: 30px;
  border: none;
  font-size: 22px;
  border: solid 1px #ababab;
}
/* wirte end*/

/*User start*/
/* login start */

.Login{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}

.login-underline{
  width: 100%;
  color: black;
}

.login-idsearch-underline{
  width: 100%;
  color: black;
  margin-bottom: 30px;
}


.underline{
  width: 100%;
  color: black;
  margin-bottom: 5px;
}
/* login end */

/* idsearch start */
.idsearch{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}

.idsearch_result{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}
/* idsearch end */
/*pwsearch start*/
.pwsearch{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}
/*pwsearch end*/
/*pwupdate start*/
.pwupdate{
  background-color: #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}
/*pwupdate end*/

/* join start */
.join{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}

.idcheck{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}

/* join end */

.company_input{
  height: 40px;
  border: none;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 5x;
  font-size: large;
}

.userinfo_update{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
}

/*user_delete start*/
.user_delete {
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%; 
}
.user_delete_underline{
  width: 100%;
  color: black;
}
/*user_delete end*/

/*coverletter start*/
.predicttest{
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.coverletter_write {
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.coverletter_update {
  background-color:   #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.ul{
  font-size: 5;
}
/*coverletter end*/

/*board start*/
.board_list {
  background-color:  #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.board_like{
  background-color:  #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.board_Fav{
  background-color:  #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.board_cl {
  background-color: #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.my-div{
  height : 200px;
  text-align : center;
  line-height : 200px;
}
.box_cl{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
  border-radius: 48px;
}
.body {  
  height : 200px;
  text-align : center;
  line-height : 100px;
  align-items: center;
  display: block;
  user-select: none;
}
.card {
  padding: 30px 20px;
  background-color: #c8e9be;
  overflow: hidden;
  position: relative;
  margin-left: 50px;
  border-radius: 48px;
  width: 400px;
  height: 100px;
  padding: 20px;
  margin-bottom:15px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.board_Predict{
  background-color: #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%; 
}
.board_cl_chek{
  background-color:  #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.userinfo {
  background-color: #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.bookmark {
  background-color: #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.manage {
  background-color:  #f6f9f6;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.idoverlapcheck{
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}

.emailoverlapcheck{
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}

/* Modal start*/
.idsearchModal{
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}

.pwsearchModal{
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}

.info_delete_modal{
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}
.cl_info_delete_modal{
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}
.Modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Modal1 {
  position: absolute;
  border: 5;
  border-radius: 10;
  width: 400;
  height: 400;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
#modalCloseBtn{
  position: absolute;
  top: 5px;
  right: 1px;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 20px;
}
/* Modal end*/
/*info_delete start*/
.info_delete {
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}
.info_delete_underline{
  width: 100%;
  color: black;
}
/*info_delete end*/

/*cl_info_delete start*/
.cl_info_delete {
  position: absolute;
  top: 20px;
  left: 40%;
  z-index: 99999999;
}
/*cl_info_delete end*/
/*company_basic_list start*/
.company_list{
  height: 40px;
  border: 1px solid #434343;
  width:calc(100% - 110px);
  line-height:50px;
  padding:0px 10px;
  margin-right:20px;
}

/*company_basic_list end*/

/*User_list start*/

.User_list{
  height: 40px;
  border: 1px solid #434343;
  width:calc(100% - 110px);
  line-height:50px;
  padding:0px 10px;
  margin-right:20px;
}

.search{
  padding:0px 10px;
}
/*User_list end*/

